ul.companies-result {
    height: 244px;
    width: 342px;
    overflow: scroll;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

ul.companies-result li {
    height: 41px;
    cursor: pointer;
}

ul.companies-result li:hover {
    z-index: 2;
    color: #fff;
    background-color: #bacbe6;
    border-color: #bacbe6;
}