<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">About</div>

          <div class="card-body">
              <p>Aliquam lobortis mollis tortor non porta. Fusce vel quam porta, cursus lorem sit amet, placerat dui. Aliquam erat volutpat. Pellentesque dignissim nec mauris et sodales. Praesent facilisis diam vitae ex volutpat, sit amet venenatis lacus commodo. Nunc ullamcorper velit ex, et rutrum enim dictum et. Integer non tincidunt lacus. Suspendisse potenti. Maecenas pretium sapien sit amet faucibus ultricies. Proin consectetur mollis enim, at bibendum nunc congue molestie. Morbi id accumsan ligula. Duis fringilla blandit nisi, gravida elementum dui scelerisque a. Aenean porta auctor tellus, at pellentesque tortor maximus et. Nulla felis nibh, laoreet eu hendrerit eu, sodales non purus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- <script>
export default {
    
}
</script>

<template>
    <div>
        About us
    </div>
</template> -->

<script>
export default {
    name: "About"
}
</script>