<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Home</div>

          <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi a metus congue lacinia. Pellentesque porttitor elit non ultrices sollicitudin. Sed tincidunt consequat posuere. Curabitur pellentesque suscipit ante eu condimentum. Donec eu ornare libero, id varius risus. Etiam quis maximus nunc, in gravida ex. Nam blandit, enim ut mollis facilisis, purus metus molestie eros, a sodales velit sem a magna. Pellentesque viverra tincidunt neque, a blandit turpis congue a. Integer imperdiet faucibus sollicitudin.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "Home",
    data() {
        return {
            //
        }
    },
    created() {
    },
    methods: {}
}
</script>