<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" v-if="error !== null">
                    {{ error }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" @click="closeNotifications()" />
                </div>
                <div class="card">
                    <div class="card-header">Share</div>
                    <div class="card-body vld-parent" ref="cardContainer">
                        <div class="row">
                            <div class="col-md-4">
                                <form @submit.prevent="searchCompany">
                                    <div class="form-group row my-2">
                                        <div class="input-group col-md-8 mb-3">
                                            <input id="search" type="text" placeholder="Search" class="form-control" v-model="search">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-outline-secondary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form @submit.prevent="viewSharePrice">
                                    <div class="form-group row my-2">
                                        <div class="input-group col-md-8 mb-3">
                                            <ul class="list-group companies-result">
                                                <li v-for="company in companies" :key=company.symbol 
                                                    class="list-group-item d-flex justify-content-between align-items-center"
                                                    :class="{ active: selected == company.symbol }"
                                                    @click="selectCompany(company.symbol)">
                                                    {{ company.name }}
                                                    <span class="badge bg-primary rounded-pill">{{ company.symbol}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-group row my-2">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary">View Share Price</button>
                                                <button type="button" class="btn btn-warning mx-2" @click="clearResult()">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-8">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Company</th>
                                            <td>{{ result.companyname }}</td>
                                        </tr>
                                        <tr v-if="result.currenteod_date !== ''">
                                            <th scope="row">Date</th>
                                            <td>{{ this.moment(result.currenteod_date).format("M/DD/YYYY H:m:s") }}</td>
                                        </tr>
                                        <tr>
                                            <th>Open</th>
                                            <td>{{ result.currenteod_open }}</td>
                                        </tr>
                                        <tr>
                                            <th>Close</th>
                                            <td>{{ result.currenteod_close }}</td>
                                        </tr>
                                        <tr>
                                            <th>High</th>
                                            <td>{{ result.currenteod_high }}</td>
                                        </tr>
                                        <tr>
                                            <th>Low</th>
                                            <td>{{ result.currenteod_low }}</td>
                                        </tr>
                                        <tr>
                                            <th>Volume</th>
                                            <td>{{ result.currenteod_volume }}</td>
                                        </tr>
                                        <tr v-if="result.currenteod_adjopen !== null" >
                                            <th>Adjusted Open</th>
                                            <td>{{ result.currenteod_adjopen }}</td>
                                        </tr>
                                        <tr v-if="result.currenteod_adjclose !== null" >
                                            <th>Adjusted Close</th>
                                            <td>{{ result.currenteod_adjclose }}</td>
                                        </tr>
                                        <tr v-if="result.currenteod_adjhigh !== null" >
                                            <th>Adjusted High</th>
                                            <td>{{ result.currenteod_adjhigh }}</td>
                                        </tr>
                                        <tr v-if="result.currenteod_adjlow !== null" >
                                            <th>Adjusted Low</th>
                                            <td>{{ result.currenteod_adjlow }}</td>
                                        </tr>
                                        <tr v-if="result.currenteod_adjvolume !== null" >
                                            <th>Adjusted Volume</th>
                                            <td>{{ result.currenteod_adjvolume }}</td>
                                        </tr>
                                        <tr>
                                            <th>Split Factor</th>
                                            <td>{{ result.currenteod_split_factor }}</td>
                                        </tr>
                                        <tr>
                                            <th>Dividend</th>
                                            <td>{{ result.currenteod_dividend }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Share",
    data() {
        return {
            error: null,
            search: '',
            companies: [],
            selected: '',
            result: {
                companyname: '',
                currenteod_date: '',
                currenteod_open: 0.0,
                currenteod_close: 0.0,
                currenteod_high: 0.0,
                currenteod_low: 0.0,
                currenteod_volume: 0.0,
                currenteod_adjopen: null,
                currenteod_adjclose: null,
                currenteod_adjhigh: null,
                currenteod_adjlow: null,
                currenteod_adjvolume: null,
                currenteod_split_factor: 0.0,
                currenteod_dividend: 0.0,
            }
        }
    },
    created() {
        this.search = '';
        this.companies = [];
        this.selected = '';
    },
    methods: {
        searchCompany() {
            this.error = null;
            let loader = this.$loading.show({
                    container: this.$refs.cardContainer
                });
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post('/api/share/companies', {search: this.search})
                    .then(response => {
                        this.companies = response.data.data;
                        loader.hide();
                    })
                    .catch(function (error) {
                        console.error(error);
                        loader.hide();
                    });
            });
        },
        selectCompany(code) {
            this.selected = code;
        },
        viewSharePrice() {
            if(this.selected !== '') {
                let loader = this.$loading.show({
                    container: this.$refs.cardContainer
                });
                this.$axios.get('/sanctum/csrf-cookie').then(response => {
                    this.$axios.post('/api/share/current', {code: this.selected})
                        .then(response => {
                            if (response.data.success) {
                                this.result = response.data.data;
                            } else {
                                this.error = response.data.message;
                            }
                            loader.hide();
                        })
                        .catch(function (error) {
                            console.error(error);
                            loader.hide();
                        });
                });
            }
            
        },
        clearResult() {
            this.error = null;
            this.search = '';
            this.companies = [];
            this.selected = '';
            this.result = {
                companyname: '',
                currenteod_date: '',
                currenteod_open: 0.0,
                currenteod_close: 0.0,
                currenteod_high: 0.0,
                currenteod_low: 0.0,
                currenteod_volume: 0.0,
                currenteod_adjopen: null,
                currenteod_adjclose: null,
                currenteod_adjhigh: null,
                currenteod_adjlow: null,
                currenteod_adjvolume: null,
                currenteod_split_factor: 0.0,
                currenteod_dividend: 0.0,
            };
        },
        closeNotifications() {
            this.error = null;
        }
    },
    beforeRouteEnter(to, from, next) {
        if (!window.Laravel.isLoggedin) {
            window.location.href = "/login";
        }
        next();
    }
}
</script>