<template>
    <div class="container">
        <div class="row justify-content-center pt-4">
            <div class="col-md-8">

                <div class="alert alert-danger" role="alert" v-if="error !== null">
                    {{ error }}
                </div>

                <div class="card card-default">
                    <div class="card-header">Add User</div>
                    <div class="card-body">
                        <form @submit.prevent="addUser">
                            <div class="form-group row my-2">
                                <label for="name" class="col-sm-4 col-form-label text-md-right">Name</label>
                                <input id="name" type="text" class="form-control" v-model="user.name">
                            </div>
                            <div class="form-group row my-2">
                                <label for="email" class="col-sm-4 col-form-label text-md-right">Email</label>
                                <input id="email" type="text" class="form-control" v-model="user.email">
                            </div>
                            <div class="form-group row my-2">
                                <label for="password" class="col-sm-4 col-form-label text-md-right">Password</label>
                                <input id="password" type="password" class="form-control" v-model="user.password">
                            </div>
                            <div class="form-group row my-2">
                                <label for="password_confirmation" class="col-sm-4 col-form-label text-md-right">Confirm Password</label>
                                <input id="password_confirmation" type="password" class="form-control" v-model="user.password_confirmation">
                            </div>
                            <div class="form-group row my-2">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Add User</button>
                                    <button type="button" class="btn btn-warning mx-2" @click="this.$router.push('/users')">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: {},
            error: null
        }
    },
    methods: {
        addUser() {
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post('/api/users/add', this.user)
                    .then(response => {
                        if (response.data.success) {
                            this.$router.push({
                                name: 'users',
                                params: {
                                    success: response.data.message
                                }
                            });
                        } else {
                            this.error = response.data.message;
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            })
        }
    },
    beforeRouteEnter(to, from, next) {
        if (!window.Laravel.isLoggedin) {
            window.location.href = "/login";
        }
        next();
    }
}
</script>