<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="success !== null">
                    {{ success }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" @click="closeNotifications()" />
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="error !== null">
                    {{ error }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" @click="closeNotifications()" />
                </div>
                <div class="card">
                    <div class="card-header">Users</div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user in users" :key="user.id">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ this.moment(user.created_at).format("M/DD/YYYY H:m:s") }}</td>
                                <td>{{ this.moment(user.updated_at).format("M/DD/YYYY H:m:s") }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <router-link :to="{name: 'edituser', params: { id: user.id }}" class="btn btn-primary">Edit
                                        </router-link>
                                        <button class="btn btn-danger" @click="deleteUser(user.id)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-info" @click="this.$router.push('/users/add')">Add User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            users: [],
            success: null,
            error: null
        }
    },
    created() {
        this.$axios.get('/sanctum/csrf-cookie').then(response => {
            this.$axios.get('/api/users')
                .then(response => {
                    this.users = response.data;
                })
                .catch(function (error) {
                    console.error(error);
                });
        });

        this.getNotifications();
    },
    methods: {
        deleteUser(id) {
            if(confirm("Do you really want to delete this user?")){
                this.$axios.get('/sanctum/csrf-cookie').then(response => {
                    this.$axios.delete(`/api/users/delete/${id}`)
                        .then(response => {
                            if (response.data.success) {
                                let i = this.users.map(item => item.id).indexOf(id);
                                this.users.splice(i, 1);
                                this.success = response.data.message;
                            } else {
                                this.error = response.data.message;
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                });
            }
        },
        getNotifications() {
            this.error = this.success = null;
            if(this.$route.params.success) {
                this.success = this.$route.params.success;
            }
        },
        closeNotifications() {
            this.error = this.success = null;
        }
    },
    beforeRouteEnter(to, from, next) {
        if (!window.Laravel.isLoggedin) {
            window.location.href = "/login";
        }
        next();
    }
}
</script>