<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <router-link
                :to="{ name: 'home' }"
                class="navbar-brand"
            >
                ShareLink App
            </router-link>
            <button
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarCollapse"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav" v-if="isLoggedIn">
                    <li class="nav-item">
                        <router-link
                        class="nav-link"
                        data-toggle="collapse"
                        :to="{ name: 'dashboard' }"
                        >
                        Dashboard
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link
                        class="nav-link"
                        data-toggle="collapse"
                        :to="{ name: 'users' }"
                        >
                        Users
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link
                        class="nav-link"
                        data-toggle="collapse"
                        :to="{ name: 'share' }"
                        >
                        Share Price
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <a
                        class="nav-link"
                        @click="logout"
                        >
                        Logout
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav" v-else >

                    <li class="nav-item">
                        <router-link
                        class="nav-link"
                        data-toggle="collapse"
                        :to="{ name: 'home' }"
                        >
                        Home
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link
                        class="nav-link"
                        data-toggle="collapse"
                        :to="{ name: 'login' }"
                        >
                        Login
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link
                        class="nav-link"
                        data-toggle="collapse"
                        :to="{ name: 'register' }"
                        >
                        Register
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link
                        class="nav-link"
                        data-toggle="collapse"
                        :to="{ name: 'about' }"
                        >
                        About
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>

        
            <router-view></router-view>
        
    </div>
</template>

<script>
export default {
    name: "App",
    data() {
        return {
            isLoggedIn: false,
        }
    },
    created() {
        if (window.Laravel.isLoggedin) {
            this.isLoggedIn = true
        }
    },
    methods: {
        logout(e) {
            console.log('ss')
            e.preventDefault()
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post('/api/logout')
                    .then(response => {
                        if (response.data.success) {
                            window.location.href = "/"
                        } else {
                            console.log(response)
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            })
        }
    },
    /*watch: {
        $route() {
            $("#navbarCollapse").collapse("hide");
        },
    },*/
}
</script>